@model IEnumerable<WilesJacksonBugTracker.Repository.Domain.BugPriorities>

@{
    ViewData["Title"] = "Index";
}

<h3>Current Priotities</h3>

<p>
    <a asp-action="Create">Add a New Priority</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BugPriorityType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugPriorityType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
