@model WilesJacksonBugTracker.Repository.Domain.Bugs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bugs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugClosedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugClosedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugClosedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugClosedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugResolutionSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugResolutionSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugPriority.BugPriorityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugStatus.BugStatusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
